{% extends "emp_register/base.html" %}

{% block content %}
<table class="table table-borderless">
    <thead class="border-bottom font-wieght-bold">
        <tr>
            <td>Full Name</td>
            <td>Emp Code</td>
            <td>Mobile</td>
            <td>poision</td>
            <td></td>
            
        </tr>
    </thead>
    <tbody>
        {% for emp in employee_list %}
        <tr>
            <td>{{emp.fullname}}</td>
            <td>{{emp.emp_code}}</td>
            <td>{{emp.mobile}}</td>
            <td>{{emp.position}}</td>
            <td>
                <a href="{% url 'employee_update' emp.id %}" class="btn text-secondry px-0">
                    <li class="far fa-edit fa-lg"></li>
                </a>
            </td>
            
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}